body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(212, 70, 19, 0.849)
}

h2 {
    font-style: italic;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#map {
    height: 60vh;
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid #2c3e50;
}

#info-panel {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  /*flex-wrap: wrap;  mobile responsive */
  align-items: flex-start;
}

#stats, #elevation_container, #pace_container {
    flex: 1;
    background: rgba(255, 255, 255, 0.5);
    border: #2c3e50 solid 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

#statBox {
  padding: 1rem;
  min-width: 30%;
}

#elevation-container {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border: 1px solid #ddd;
  min-width: 35%;
  border:#2c3e50 solid 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#pace-container {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border: 1px solid #ddd;
  min-width: 35%;
  border:#2c3e50 solid 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mile-marker {
    background: #2c3e50;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    width: 6px;
    height: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.mile-label {
    width: 100%;
    height: 100%;
}

#route-selection {
    text-align: center;
    margin-bottom: 1rem;
}

header {
    background: rgba(212, 70, 19, 0.649);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}