body {
    margin: 0;
    font-family: sans-serif;
}

#map {
    height: 60vh;
    width: 100%;
}

#info-panel {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  /*flex-wrap: wrap;  mobile responsive */
  align-items: flex-start;
}

#stats, #elevation_container {
    flex: 1;
}

#elevation-container {
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  min-width: 250px;
}